[Desktop Entry]
Type=Application
Name=Printer Settings
GenericName=Printers
Comment=Add, manage and check printers
Exec=spool
Icon=spool
Terminal=false
Categories=Settings;HardwareSettings;Utility;
Keywords=printer;print;cups;scanner;
StartupWMClass=spool
